* {
    font-family: Arial, sans-serif;
}
.site img {
    float: left;
    padding-right: 15px;   
    height: 200px;
    width: 250px;
    border-radius: 0;
}
.site li{
   list-style-type: none;  
   border: 1px solid brown;
   height: 200px;
}
.site li h1 {
    text-align: center;
    padding: 48px;
}


body {
    background-color: cornsilk;
 }
div img {
    border-radius: 10px;
    width: 500px;
    height: 400px;
    margin: auto;
}

h1 {
    font-size: 40px;
    margin-left: 20px;
    color: #8B4513;
    
}
h2 {
    font-size: 30px;
    border-bottom: 2px solid grey;
    margin: 20px;
    color: #A0522D;
}

li {
    font-size: 20px;
   
}

ul li{
    margin: 15px 0 15px 0;
    list-style-type: none;
    
}
ol li{
    padding: 10px;
}
a {
    color:#D2691E;
}
a:hover {
    color:chocolate;
}

nav {
    height: 45px;
    width: 100%;
    margin-bottom: 5px;
    margin-top: 20px;
    padding-left: 5px;
}

nav ul {
        list-style: none;
        padding: 0px;
    }

nav ul li{
    display: inline-block;
}

.heading {
    text-transform: uppercase;
    text-align: left;
    margin-left: 180px;
}
.dish {
    display: grid;
    grid-template-columns: 200px 200px 200px;
    border-radius: 0;
}
.miniaturki {
    height: 150px;
    width: 176px;
}
.frame {
    border: 0px solid brown;
    text-align: center;  
    margin: 10px;
}
.backgroundgradient {
    background: #603813;
    display: block;
    text-align: center;
    padding: 16px;
}

.navlink {
    float: left
    height: 35px;
    margin-right: 10px;
    font-size:18px;
    padding-top: 12px;
    color: white;
    text-decoration: none;
}

.ingredients {
    border: 1px solid black;
    float: left;
    width: 350px;
    
}

.recipe {
    float: left;
}

#radius{
    border-radius: 0;
}

#print {
    margin: 20px 10px 20px 10px;
    color: white;
    background-color: #8B4513;
}
#save {
    color: white;
    background-color: #8B4513;
}