* {
    font-family: Arial, sans-serif;
}
.site img {
    float: left;
    padding-right: 15px;   
    height: 200px;
    width: 250px;
    border-radius: 0;
}
.site li{
   list-style-type: none;  
   border: 1px solid brown;
   height: 200px;
}
.site li h1 {
    text-align: center;
}


body {
    background-color: cornsilk;
 }
div img {
    border-radius: 10px;
    width: 500px;
    height: 400px;
    margin: auto;
}

h1 {
    font-size: 40px;
    margin-left: 20px;
    color: #8B4513;
    
}
h2 {
    font-size: 30px;
    border-bottom: 2px solid grey;
    margin: 20px;
    color: #A0522D;
}

li {
    font-size: 20px;
   
}

ul li{
    margin: 15px 0 15px 0;
}
ol li{
    padding: 10px;
}
a {
    color:#D2691E;
}
a:hover {
    color:chocolate;
}

.heading {
    text-transform: uppercase;
    text-align: left;
    margin-left: 180px;
}
.dish {
    display: grid;
    grid-template-columns: 200px 200px 200px;
    border-radius: 0;
}
.miniaturki {
    height: 150px;
    width: 176px;
}
.frame {
    border: 2px solid brown;
    text-align: center;  
    margin: 10px;
}
#radius{
    border-radius: 0;
}